body{
  font-family: "微軟正黑體";
}
.bg-navnav{
  background-image: linear-gradient(to left, #209cff 0%, #68e0cf 100%) !important;
}

.bg-block{
  background: #000;
}
.bg-gblock{
  background-image: linear-gradient(to bottom, #000000, #161616, #242424, #333333, #434343);
}
.bg-bblock{
  background-image: linear-gradient(to bottom, #434343, #333333, #242424, #161616, #000000);
}
/* 消除input 點選後的框線色  和 input 的底色 */
.a:focus {
  background: transparent;
  outline:none;
}
/* 首頁背景圖 */
.img{
  width: 100vw;
  height: 100vh;
  background: url(../img/cap-america.jpg) no-repeat fixed top left/cover;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*  */
.booking_bg{
  width: 100vw;
  height: 100vh;
  background: url(../img/booking_bg.jpg) no-repeat fixed top left/cover;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  backdrop-filter: opacity(0.1); 
  /* opacity: 0.1; */
}
/*  */
.b{
 margin: 50px;
 color: white !important;
 padding: 100px;
 background: red;

}

/* slick slider button 調整 */
.slick-prev,
.slick-next
{
    width: 50px !important;
    height: 50px !important;
    z-index: 1;
}
.slick-prev
{
    left: 25px !important;
}
.slick-next {
    right: 25px !important;
}

/* 登入頁 login css */

.bodyimg{
    background:url('../img/登入背景圖.jpg') no-repeat fixed top left/cover;
  }
  .bg_filter{
    backdrop-filter: opacity(0.2);   
    
  }
  .bg_filter form {
    border-radius: 40px !important; 
  }
  .bg_filter form input{
    background-color:transparent;
    border: 0px; 
    color: #FFF;
    font-size: 1.5rem;
    outline: none !important;
  }
  .bg_filter form button{
    background-color:transparent;
    border: 0px; 
    font-size: 1.8rem;
    border-radius: 30px; 
  }
  .tip{
    color:  #ffc108;
  }
 /* input placeholder 字的顏色 */



/* js plug-in 程式區 */
/* scrollpage.js 滑動 */
header {
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.hide-nav {
  transform: translateY(-120% !important);
  -webkit-transform: translateY(-120%) !important;
}


/* nav 底線特效 */
.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease;
 
}
.menu-left a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background .35s ease;
}
.menu-left a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: width .35s ease;
}
.menu-left a:hover:before {
  width: 100%;
  background: white;
  transition: width .35s ease;
}
.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}




  .movie_in{
    /* backdrop-filter: blur(5px);   */
    backdrop-filter: opacity(0.1); 

}
.bg-foot{
  background-image: linear-gradient(to right, #ffc108, #eecc00, #dad700, #c3e100, #a8eb12);
}

.text-movie{
  color: #E89805 !important;
}
hr{
  /* background-image: linear-gradient(to right, #ffc108, #9dbc31, #45aa5f, #008f7b, #00717b, #00717b, #00717b, #00717b, #008f7b, #45aa5f, #9dbc31, #ffc108); */
  background-color: #f6d163;
  height: 1px;
  width: 100%; 
}
#movie_line{
  width: 5px;
  height: 90%;
  background: #97BB30;
  margin-left:-10px ;
  margin-right: 20px;
  opacity: 0;
  border-radius: 5px;
}
.i:hover{
  color: #e89805 !important; 
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 0px !important;
  pointer-events: auto;
  background-color: red;
  /* background-clip: padding-box; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.movie_li li{
 margin: 20px 0;
}

/* booking頁面 */
.object-fit{
  object-fit: cover;
  background: #000;
}
.see{
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  /* line-height: 40px; */
}
.see:hover {
  border: 1px solid #ff0000;
  color: red;
}

@media (max-width: 376px) {
  .see{
    width: 22px;
    height: 22px;
    border: 1px solid #000;
    border-radius: 5px;
    /* line-height: 22px; */
  }
  .see:hover {
    width: 22px;
    height: 22px;
    border: 1px solid red;
    border-radius: 5px;
    /* line-height: 22px; */
    color: red;
  }
}

