/* VARS
   ====================================================== */

   @color1: #d34836;
   @color2: #009688;
   @color3: #FFA000;
   @color4: #5677fc;
 
   @colors: '@{color1}','@{color2}','@{color3}','@{color4}';
   @howmany: length(@colors);
 
   @baseFontSize:          18px;
   @baseFontFamily:        'Montserrat', sans-serif;
   @baseLineHeight:        2.35;
   @baseTextColor:         rgba(255, 255, 255, 0.85);
   @baseHeadlineColor:     rgba(255, 255, 255, 0.9);
 
 /* LOOP FOR COLORING SECTIONS
    ================================================================== */
 
   .loop(@counter) when (@counter > 0) {
     .loop((@counter - 1)); 
 
       #section@{counter} {
         @color: e(extract(@colors, @counter));
         background-color: @color;
     }
   }
 
   .loop(@howmany);
 
 /* MIXINS
    ================================================================== */
 
   .transition (@prop: all, @time: 1s, @ease: linear) {
       -webkit-transition: @prop @time @ease;
       transition: @prop @time @ease;
   }
 
 /* KEYFRAMES
    ================================================================== */
 
   .keyframes(@name; @arguments) {
     @-webkit-keyframes @name { @arguments(); }
     @keyframes @name { @arguments(); }
   }
 
   .animation(@arguments) {
     -webkit-animation: @arguments;
             animation: @arguments;
   }
 
   .keyframes(fade-in;{
     0% { opacity: 0;}
     100% {opacity: 1;}
   });
 
   .keyframes(float-in-right;{
     0% { 
       opacity: 0;
       -webkit-transform: translate3d(-200px, 0, 0);
               transform: translate3d(-200px, 0, 0);
     }
     100% { 
       opacity: 1;
        -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
     }
   });
 
  .keyframes(float-in-left;{
     0% { 
       opacity: 0;
       -webkit-transform: translate3d(+200px, 0, 0);
               transform: translate3d(+200px, 0, 0);
     }
     100% { 
       opacity: 1; 
       -webkit-transform: translate3d(0,0,0);
               transform: translate3d(0,0,0);
     }
   });
 
 
 
 /* BASE
    ================================================================= */
 
   html {
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       -moz-osx-font-smoothing: grayscale;
   }
    
   body {
     font-family: @baseFontFamily;
     font-size: @baseFontSize;
     line-height: @baseLineHeight;
     color: @baseTextColor;
     margin: 0;
   }
 
   p {
     padding-top: 3em;
     max-width: 700px;
     margin: 0 auto;
   }
 
 /* DYNAMIC NAVIGATION BAR
    ================================================================= */
 
   nav {
     position: fixed;
     width: 100%;
     top: 0;
     background: @color1;
     .transition (all, 650ms, cubic-bezier(.22, 1, .25, 1));
 
     &:before{
       content: "";
       display: block;
       position: absolute;
       background: rgba(0,0,0, 0.27);
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 1;
     }
 
     ul {
       position: relative;
       margin: 0;
       z-index: 2;
       text-transform: uppercase;
       text-align: center;
 
       li {
         display: inline-block;
         padding: 1.35em 0;
         margin-right: 3em;
         font-size: 0.9em;
 
         a {
           text-decoration: none;
           color: #fff;
           font-size: 0.9em;
         }
       }
     }
   }
 
 /* CONTENT
    ================================================================== */
 
   section {
       height: 100vh;
 
       h1 {
         margin: 0;
         color: @baseHeadlineColor;
         text-transform: uppercase;
         text-align: center;
         padding-top: 8em;
         .animation(float-in-right 0.45s ease);
       }
 
       h2 {
         &:extend(section h1);
       }
   }
 
   .intro {
     .animation(float-in-left 0.45s ease);
   }
 
  
 
 
 
 